<footer class="shrink-0">
  <div
    class="layout h-12 flex items-center justify-center text-indigo-200 text-sm"
  >
    <p>&copy; 2025</p>
    <p class="mx-2">|</p>
    <p
      class="font-bold text-transparent bg-clip-text bg-[length:400%_400%] animate-rainbow bg-gradient-to-r from-indigo-400 to-indigo-700"
    >
      POCCUR
    </p>
  </div>
</footer>
